<div *ngIf="game" class="h-screen bg-red-light font-red-lightest flex flex-col justify-between items-center">
    <nav class="bg-red shadow p-3 w-full flex flex-row justify-start items-center">
        <button routerLink="/home" class="bg-clear p-3">
            <fa-icon [icon]="faChevronLeft" size="lg"></fa-icon>
        </button>
        <p class="text-lg font-bold">
            Categories
        </p>
    </nav>
    <div class="w-full h-full overflow-y-scroll flex flex-col justify-center items-center">
        <p *ngIf="state == 'WAITING_ACCEPTANCE'" class="text-2xl text-center">
            Waiting on {{ opponent.username }} <br> to accept the game...
        </p>
        <p *ngIf="state == 'WAITING_TURN'" class="text-2xl text-center">
            Waiting on {{ opponent.username }} <br> to finish their turn...
        </p>
    </div>
    <footer class="bg-red shadow p-3 w-full flex flex-row justify-between">
        <p class="text-sm">Developed by Xavier La Rosa</p>
    </footer>
</div>