<div class="h-screen bg-purple-600 text-white flex flex-col justify-between items-center">
    <nav class="bg-purple-500 p-3 w-full flex flex-row justify-start items-center">
        <button routerLink="/home" class="bg-clear p-3">
            <
        </button>
        <p class="text-lg font-bold">
            Notifications
        </p>
    </nav>
    <div class="w-full bg-gray-100 h-full overflow-y-scroll flex flex-col justify-start items-center">
        <div *ngIf="notifications" class="w-full">
            <section class="w-full border-b-2 border-gray-200 flex flex-col justify-center items-center" *ngFor="let notif of notifications">
                <p *ngIf="notif.type == 'GAME'" class="p-3 text-black text-sm w-full text-center">
                    {{notif.username}} wants to play a game with you!
                </p>
                <p *ngIf="notif.type == 'TO_FRIEND'" class="p-3 text-black text-sm w-full text-center">
                    Waiting on friend request from {{notif.username}}.
                </p>
                <p *ngIf="notif.type == 'FROM_FRIEND'" class="p-3 text-black text-sm w-full text-center">
                    {{notif.username}} wants to be your friend!
                </p>
                <div class="flex flex-row justify-center items-center w-full mb-2">
                    <button class="bg-clear text-green-400 text-sm mr-4">
                        Accept
                    </button>
                    <button class="bg-clear text-green-400 text-sm mr-4">
                        Decline
                    </button>
                </div>
            </section>
        </div>
    </div>
    <footer class="bg-purple-500 p-3 w-full flex flex-row justify-between">
        <p class="text-sm">Developed by Xavier La Rosa</p>
    </footer>
</div>