<div *ngIf="game" class="min-h-screen font-red-lightest flex flex-col justify-between items-center overflow-y-auto">
    <nav class="p-3 w-full flex flex-row justify-start items-center">
        <button routerLink="/home" class="bg-clear p-3">
            <fa-icon [icon]="faChevronLeft" size="lg"></fa-icon>
        </button>
        <p class="text-lg font-bold">
            Categories Game
        </p>
    </nav>
    <div *ngIf="state === 'TURN' " class="w-full flex flex-col justify-start items-center">
        <div class="w-full flex flex-col justify-center items-center my-6">
            <p class="bg-red-light p-2 flex flex-col justify-around items-center w-10/12 rounded-lg shadow my-2 text-2xl text-center">
                Round {{ game.round }}
            </p>
            
            <div class="flex flex-row justify-center items-center w-full">
                <div class="flex flex-col justify-center items-center w-8/12">
                    <p>Your Turn</p>
                    <img src='{{randomPath}}' />
                </div>
                <div class="flex flex-col justify-center items-center w-4/12">
                    <p>Leaderboard</p>
                    <div class="h-32 overflow-y-auto">
                        <div *ngFor="let player of this.getLeaderboard()">
                            <p>{{ player.number }}</p>
                            <p>{{ player.username }}</p>
                            <p>{{ player.icon }}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="state === 'WAITING' " class="w-full flex flex-col justify-start items-center">
        <div class="w-full flex flex-col justify-center items-center my-6">
            <p class="bg-red-light p-2 flex flex-col justify-around items-center w-10/12 rounded-lg shadow my-2 text-2xl text-center">
                Round {{ game.round }} Waiting
            </p>
            <p class="text-sm text-center">
                Waiting on player {{ game.current_player_turn_number }} <br> to submit their answer...
            </p>
            <img src='{{randomPath}}' />
            <p routerLink="/home" class="text-xs text-center mt-1">
                Go to home page
            </p>

        </div>

    </div>
    <div *ngIf="state === 'DONE' " class="w-full flex flex-col justify-start items-center">
        <div class="w-full flex flex-col justify-center items-center my-6">
            <p class="bg-red-light p-2 flex flex-col justify-around items-center w-10/12 rounded-lg shadow my-2 text-2xl text-center">
                Game Done
            </p>

        </div>

    </div>
    <footer class="p-3 w-full flex flex-row justify-between">
        <p class="text-sm">Developed by Xavier La Rosa</p>
    </footer>
</div>

<ng-template #template>
    <div class="modal-header bg-red font-red-lightest border-none">
        <h4 class="modal-title pull-left">Are you sure you want to forfeit the match?</h4>
      </div>
    <div class="font-red-lightest w-full flex flex-row justify-center items-center">
        <button (click)="modalRef.hide()" type="submit" class="p-1 text-base w-6/12 h-18 bg-gray-700 rounded-bl-lg hover:bg-gray-600">Cancel</button>
        <button class="p-1 text-base w-6/12 h-18 bg-red-700 rounded-br-lg hover:bg-red-600">Give Up</button>
    </div>
  </ng-template>