<div class="h-screen bg-red-light font-red-lightest flex flex-col justify-between items-center">
    <nav class="bg-red shadow h-40 p-3 w-full flex flex-row justify-start items-start">
        <button routerLink="/home" class="bg-clear p-3 w-2/12">
            <fa-icon [icon]="faChevronLeft" size="lg"></fa-icon>
        </button>
        <div class="w-8/12 flex flex-col justify-center items-center self-center">
            <fa-icon [icon]="faSearch" class="m-2" size="3x"></fa-icon>
            <p class="text-xl w-full text-center">
                {{matches.length}} Search Results
            </p>
            <div class="flex flex-row justify-center items-center w-full">
                <button (click)="searchClicked()" class="rounded-tl-md rounded-bl-md h-8 px-2">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
                <input [(ngModel)]="keyword" name="keyword" type="text" class="w-full rounded-tr-md rounded-br-md p-1 text-xs h-8" placeholder="search username here">
            </div>
        </div>
    </nav>

    <div class="w-full h-full overflow-y-scroll flex flex-col justify-start items-center">
        <div *ngIf="matches" class="w-full flex flex-col justify-start items-center">
            <section class="w-11/12 h-20 my-2 bg-red-light shadow-lg rounded-xl flex flex-row justify-between items-center" *ngFor="let match of matches">
                <div class="w-8/12 flex flex-row justify-start items-center p-3">
                    <div class="h-8 w-8 bg-red-lightest shadow rounded-full">

                    </div>
                    <div class="w-10/12 flex flex-col justify-start items-start ml-3">
                        <p class="font-red-lightest text-lg font-bold">
                            {{match.username}}
                        </p>
                    </div>

                </div>
                <div class="w-4/12 flex flex-row justify-end items-center p-3">
                    <button (click)="addClicked(match._id)" class="mr-2">
                        <fa-icon [icon]="faPlusCircle" class="mx-2" size="2x"></fa-icon>
                    </button>
                </div>
            </section>
        </div>
    </div>

    <footer class="bg-red shadow p-3 w-full flex flex-row justify-between">
        <p class="text-sm">Developed by Xavier La Rosa</p>
    </footer>
</div>