::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FDEFED;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FDEFED;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #FDEFED;
}

/deep/ .modal-content {
    border-radius: 40px;
}