<div class="min-h-screen font-red-lightest flex flex-col justify-center items-center">
    <form action="" class="rounded p-4 flex flex-col justify-center items-start w-11/12 h-full">
        <img class="w-64 h-64 self-center" src="../../../assets/logo(x2).png" alt="">
        <p class="text-3xl font-bold text-left">Mini Game Royale</p>
        <div class="flex flex-col items-start justify-center w-full">
            <input autofocus [@error]="animateError" [(ngModel)]="username" name="username" type="text" placeholder="username" class="py-3 my-2 w-10/12">
            <input [@error]="animateError" [(ngModel)]="password" name="password" type="password" placeholder="password" class="py-3 my-2 w-10/12">
            <button (click)="login()" class="button-red-lightest bg-red-lightest font-red w-32 p-2 my-2 rounded-full">login</button>
            <a routerLink="/register" class="my-2">register a new account</a>
        </div>
    </form>
</div>
  
