<div class="h-screen bg-purple-600 text-white flex flex-col justify-center items-center">
    <form action="" class="bg-purple-500 shadow rounded p-4 flex flex-col justify-around items-center w-8/12">
        <p class="text-lg font-bold text-center">Mini Game Royale</p>
        <p class="text-base font-bold text-center">Login</p>
        <input type="text" placeholder="username" class="rounded shadow text-black p-3 m-2">
        <input type="text" placeholder="password" class="rounded shadow text-black p-3 m-2">
        <button routerLink="/home" class="bg-gray-200 text-black p-3 m-2 rounded shadow">login</button>
        <a routerLink="/register">register a new account</a>
    </form>
</div>
  
