<div class="h-screen bg-purple-600 text-white flex flex-col justify-center items-center">
    <form action="" class="bg-purple-500 shadow rounded p-4 flex flex-col justify-around items-center w-8/12">
        <p class="text-lg font-bold text-center">Mini Game Royale</p>
        <p class="text-base font-bold text-center">Register</p>
        <input [(ngModel)]="username" name="username" type="text" placeholder="username" class="rounded shadow text-black p-3 m-2">
        <input [(ngModel)]="password" name="password" type="password" placeholder="password" class="rounded shadow text-black p-3 m-2">
        <button (click)="register()" class="bg-gray-200 text-black p-3 m-2 rounded shadow">register</button>
        <a routerLink="/">login to an existing account</a>
    </form>
</div>
  
