<ng-sidebar-container  style="height: 100vh;">
 
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened">
      <nav class="h-screen w-56 bg-red-light shadow-xl">
          <div class="flex flex-col justify-between items-center h-full">
            <div class="w-full">
                <div class="flex flex-row justify-between items-center w-full p-3 bg-red">
                    <div class="w-10/12 flex flex-row justify-start items-center">
                        <div class="h-8 w-8 rounded-full bg-red-lightest shadow-xl mr-2"></div>
                        <p class="text-left text-xl font-red-lightest">{{this.appService.getUserData().username}}</p>
                    </div>
                    <fa-icon closeSidebar [icon]="faSignOutAlt" class="mx-2 font-red-lightest" size="lg" rotate="180"></fa-icon>
                </div>
                <p class="w-full p-3"><span><fa-icon [icon]="faCog" class="mx-2"></fa-icon></span> Preferences</p>
                <p routerLink="/notifications" class="w-full p-3"><span><fa-icon [icon]="faBell" class="mx-2"></fa-icon></span> Notifications</p>
                <p routerLink="/search-friends" class="w-full p-3"><span><fa-icon [icon]="faUserPlus" class="mx-2"></fa-icon></span> Add friend</p>
            </div>

            <p (click)="logout()" class="bg-red-lightest font-red shadow rounded-full px-3 py-1 w-10/12 text-center my-8">Logout</p>
          </div>
      </nav>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content *ngIf="this.appService.getUserData()" class="bg-red font-red-lightest flex flex-col justify-between items-center">
        <nav class="bg-red p-3 w-full flex flex-row justify-between shadow sticky top-0">
            <p class="text-lg">MGR</p>
            <div class="flex flex-row justify-end items-center w-6/12">
                <p routerLink="/notifications" class="text-lg mx-2"><fa-icon [icon]="faBell" size="lg"></fa-icon></p>
                <p (click)="_toggleSidebar()" class="mx-2"><fa-icon [icon]="faBars" size="lg"></fa-icon></p>
            </div>
        </nav>
        <div class="w-full flex flex-col justify-center items-center">
            
            <div class="w-full flex flex-col justify-center items-center my-6">
                <p class="bg-red p-2 flex flex-col justify-around items-center w-10/12 rounded-lg shadow-lg my-2 text-2xl text-center">
                    Choose your Game
                </p>
                <div class="flex flex-row justify-center items-center w-10/12 my-2">
                    <div routerLink="/create-categories" class="h-24 w-24 bg-red font-red-lightest text-center rounded-lg shadow-lg mr-2 flex flex-col justify-center items-center">
                        <fa-icon [icon]="faComments" size="2x"></fa-icon>
                    </div>
                    <div class="h-24 w-24 bg-red font-red-lightest text-center rounded-lg shadow-lg ml-2 flex flex-col justify-center items-center">
                        <fa-icon [icon]="faMicrophoneAlt" size="2x"></fa-icon>
                    </div>
                </div>
                <div class="flex flex-row justify-center items-center w-10/12 my-2">
                    <div class="h-24 w-24 bg-red-light opacity-25 font-red-lightest text-center rounded-lg shadow-lg mr-2 flex flex-col justify-center items-center">
                        coming soon...
                    </div>
                    <div class="h-24 w-24 bg-red-light opacity-25 font-red-lightest text-center rounded-lg shadow-lg ml-2 flex flex-col justify-center items-center">
                        coming soon...
                    </div>
                </div>
            </div>
    
    
            <div class="bg-red w-10/12 rounded-tr-lg rounded-bl-lg shadow-xl my-6">
                <div class="bg-red font-red-lightest shadow-sm py-2 px-3 rounded-tr-lg text-left w-full">
                    Games ({{this.appService.getUserData().games.length}})
                </div>
                <div class="h-64 overflow-y-scroll w-full bg-red-light">
                    <app-game-list-item [isPendingGames]="false" [games]="this.appService.getUserData().games"></app-game-list-item>
                </div>
            </div>
    
            <div class="bg-red flex flex-col justify-around items-center w-10/12 rounded-tr-lg rounded-bl-lg shadow-xl my-6">
                <div class="bg-red font-red-lightest shadow-sm flex flex-row justify-between items-center py-2 px-3 rounded-tr-lg text-left w-full">
                    <p>
                        Friends ({{this.appService.getUserData().friends.length}})
                    </p>
                    <button routerLink="/search-friends">
                        <fa-icon [icon]="faUserPlus"></fa-icon>
                    </button>
                </div>
                <div class="h-64 overflow-y-scroll w-full bg-red-light">
                    <app-friend-list-item [type]="'friends'" [friends]="this.appService.getUserData().friends"></app-friend-list-item>
                </div>
            </div>
        </div>
        <footer class="bg-red shadow p-3 w-full flex flex-row justify-between">
            <p class="text-sm">Developed by <span class="font-bold">Xavier La Rosa</span></p>
        </footer>
    </div>

</ng-sidebar-container>