<div class="min-h-screen font-red-lightest flex flex-col justify-between items-center overflow-y-auto">
    <nav class="bg-red shadow h-32 p-3 w-full flex flex-row justify-start items-start">
        <button routerLink="/home" class="bg-clear p-3 w-2/12">
            <fa-icon [icon]="faChevronLeft" size="lg"></fa-icon>
        </button>
        <div class="w-8/12 flex flex-col justify-center items-center self-center">
            <fa-icon [icon]="faGamepad" class="m-2" size="3x"></fa-icon>
            <p class="text-xl w-full text-center">
                Categories
            </p>
        </div>
    </nav>
    <div class="w-full flex flex-col justify-start items-center">

            <div class="bg-red-light h-64 w-10/12 rounded-t-lg rounded-bl-lg shadow-xl my-6 flex flex-col justify-start items-center">
                <p class="bg-red text-lg font-bold w-full text-left px-4">
                    Choose Friend
                </p>
                <input [(ngModel)]="keyword" (ngModelChange)="filterFriends()" name="keyword" type="text" class="w-10/12 rounded-t-md py-1 px-4 text-xs h-8" placeholder="filter through friends">    

                <div class="w-full flex flex-row justify-between items-center px-6 py-3" *ngFor="let friend of friends">
                    <p>{{friend.username}}</p>
                    <button *ngIf="friend_id == friend._id" class="rounded-lg px-2 text-sm">
                        selected
                    </button>
                    <button (click)="friendSelected(friend._id)" *ngIf="friend_id != friend._id" class="rounded-lg px-2 text-sm">
                        select
                    </button>
                </div>
            </div>

            <div class="bg-red-light w-10/12 rounded-tr-lg rounded-bl-lg shadow-xl my-6 flex flex-col justify-start items-center">
                <p class="bg-red text-lg font-bold w-full text-left px-4">
                    Choose Category
                </p>
                <select class="bg-red-light w-full h-12" [(ngModel)]="selectedCategory" (ngModelChange)="updateCategory()" style="-webkit-appearance: none;">
                    <option class="p-3" *ngFor="let category of categories" [ngValue]="category._id">
                      {{ category.category }}
                    </option>
                </select>
            </div>

            <div class="bg-red-light w-10/12 rounded-tr-lg rounded-bl-lg shadow-xl my-6 flex flex-col justify-start items-center">
                <p class="bg-red text-lg font-bold w-full text-left px-4">
                    Choose Max Rounds
                </p>
                <input type="number" class="bg-red-light p-3 w-full" max="10" min="2" [(ngModel)]="selectedRounds" (ngModelChange)="updateRounds()">
            </div>

            <button (click)="create()" class="text-2xl mb-6">Create</button>
    </div>
    <footer class="bg-red shadow p-3 w-full flex flex-row justify-between">
        <p class="text-sm">Developed by Xavier La Rosa</p>
    </footer>
</div>