/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: righteous;
    src: url(assets/fonts/Righteous/Righteous-Regular.ttf) format("opentype");
  }

body {
    font-family: 'righteous';
}

.bg-red {
    background-color: #333745;
}

.font-red {
    color: #333745;
}

.border-red {
    border-color: #333745;
}

.bg-red-light {
    background-color: #3D4152
}

.font-red-light {
    color: #3D4152;
}

.border-red-light {
    border-color: #3D4152;
}

.bg-red-lightest {
    background-color: #FDEFED;
}

.font-red-lightest {
    color: #FDEFED;
}

.border-red-placeholder {
    border-color: #454A5E;
}

.bg-red-placeholder {
    background-color: #454A5E;
}

.font-red-placeholder {
    color: #454A5E;
}

.border-red-placeholder {
    border-color: #454A5E;
}

.button-red-lightest {
    background: #FDEFED;
    background: linear-gradient(to left, #FDEFED 50%, #333745 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.2s ease;
    border: 2px solid #333745;
}

.button-red-lightest:hover {
    background-position:left bottom;
    color: #FDEFED;
    border: 2px solid #FDEFED;
}

p {
    color: #FDEFED;
}

input[type="text"] {
    background: transparent;
    border: none;
    color: #FDEFED;
    border-bottom: 2px solid #FDEFED;
}

input[type="password"] {
    background: transparent;
    border: none;
    color: #FDEFED;
    border-bottom: 2px solid #FDEFED;
}