/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: righteous;
    src: url(assets/fonts/Righteous/Righteous-Regular.ttf) format("opentype");
}

.normal-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body {
    font-family: 'righteous';
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4e546a+0,454a5e+20,454a5e+20,3d4152+46,333745+100 */
    background: #4e546a; /* Old browsers */
    background: -moz-linear-gradient(top,  #4e546a 0%, #454a5e 20%, #454a5e 20%, #3d4152 46%, #333745 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4e546a 0%,#454a5e 20%,#454a5e 20%,#3d4152 46%,#333745 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4e546a 0%,#454a5e 20%,#454a5e 20%,#3d4152 46%,#333745 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e546a', endColorstr='#333745',GradientType=0 ); /* IE6-9 */

}

.bg-red {
    background-color: #333745;
}

.font-red {
    color: #333745;
}

.border-red {
    border-color: #333745;
}

.bg-red-light {
    background-color: #3D4152
}

.font-red-light {
    color: #3D4152;
}

.border-red-light {
    border-color: #3D4152;
}

.bg-red-lightest {
    background-color: #FDEFED;
}

.font-red-lightest {
    color: #FDEFED;
}

.border-red-placeholder {
    border-color: #454A5E;
}

.bg-red-placeholder {
    background-color: #454A5E;
}

.font-red-placeholder {
    color: #454A5E;
}

.border-red-placeholder {
    border-color: #454A5E;
}

.button-red-light {
    background: #3D4152;
    background: linear-gradient(to left, #3D4152 50%, #FDEFED 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.2s ease;
    border: 2px solid #3D4152;
    color: #FDEFED;
}

.button-red-light:hover {
    background-position:left bottom;
    color: #3D4152;
    border: 2px solid #3D4152;
}

.button-red-lightest {
    background: #FDEFED;
    background: linear-gradient(to left, #FDEFED 50%, #333745 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.2s ease;
    border: 2px solid #333745;
    color: #333745;
}

.button-red-lightest:hover {
    background-position:left bottom;
    color: #FDEFED;
    border: 2px solid #FDEFED;
}

p {
    color: #FDEFED;
}

input {
    border-radius: 0;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="text"] {
    background: transparent;
    border: none;
    color: #FDEFED;
    border-bottom: 2px solid #FDEFED;
}

input[type="password"] {
    background: transparent;
    border: none;
    color: #FDEFED;
    border-bottom: 2px solid #FDEFED;
}
