<div *ngIf="games">
    <div *ngIf="!isPendingGames">
        <div class="w-full flex flex-col" *ngFor="let game of games">
            <div class="w-full p-4 flex flex-row justify-between items-center">
                <div class="flex flex-col justify-start items-center self-start">
                    <p class="w-full text-sm font-bold">
                        {{ game.name }} <br> vs. {{ game.player_1_id.username }}
                    </p>
                    <p class="w-full text-xs">
                        {{ game.round }}/{{ game.max_round }} rounds, {{ game.current_turn_id.username}}'s turn
                    </p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <button class="rounded-lg bg-green-400 p-2 m-1 text-sm w-full">
                        continue
                    </button>
                </div>
            </div>
            <div class="w-11/12 border-b-2 border-purple-400 self-end"></div>
        </div>
    </div>
    <div *ngIf="isPendingGames">
        <div class="w-full flex flex-col" *ngFor="let game of games">
            <div class="w-full p-4 flex flex-row justify-between items-center">
                <div class="flex flex-col justify-start items-center self-start">
                    <p class="w-full text-sm font-bold">
                        {{ game.player_1_id.username }} invited you for {{ game.name }}
                    </p>
                    <p class="w-full text-xs">
                        {{ game.max_round }} rounds
                    </p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <button class="rounded-lg bg-green-400 p-2 m-1 text-sm w-full">
                        join
                    </button>
                    <button class="rounded-lg bg-red-400 p-2 m-1 text-sm w-full">
                        decline
                    </button>
                </div>
            </div>
            <div class="w-11/12 border-b-2 border-purple-400 self-end"></div>
        </div>
    </div>    
</div>