<div *ngIf="games">
    <div class="w-full flex flex-col" *ngFor="let game of games">
        <div class="w-full p-4 flex flex-row justify-between items-center">
            <div class="flex flex-col justify-start items-center self-start">
                <p class="w-full text-sm font-bold">
                    {{ game.name }} <br> vs. {{ game.player_1_id.username }}
                </p>
                <p class="w-full text-xs">
                    {{ game.round }}/{{ game.max_round }} rounds, {{ game.current_turn_id.username}}'s turn
                </p>
            </div>
            <div class="flex flex-col justify-center items-center">
                <button *ngIf="appService.getUserData()._id == game.current_turn_id._id" class="rounded-lg bg-green-400 p-2 m-1 text-sm w-full">
                    <a *ngIf="game.name=='categories'" [routerLink]="['/round-categories', game._id]">
                        PLAY
                    </a>
                </button>
                <button [routerLink]="['/game-waiting', game._id, 'WAITING_TURN']" *ngIf="appService.getUserData()._id != game.current_turn_id._id" class="rounded-lg bg-gray-400 p-2 m-1 text-sm w-full">
                    WAITING
                </button>
            </div>
        </div>
        <div class="w-11/12 border-b-2 border-purple-400 self-end"></div>
    </div>
</div>